{% extends 'base.html' %}

{% block content %}
<h2>Monthly Attendance Report</h2>

<form method="get">
    Month:
    <input type="number" name="month" min="1" max="12" value="{{ month }}">
    Year:
    <input type="number" name="year" value="{{ year }}">
    <button type="submit">Filter</button>
</form>

<br>

<table border="1" cellpadding="10">
    <tr>
        <th>Student</th>
        <th>Present</th>
        <th>Absent</th>
    </tr>

    {% for row in report %}
    <tr>
        <td>{{ row.student.username }}</td>
        <td>{{ row.present }}</td>
        <td>{{ row.absent }}</td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="{% url 'teacher_dashboard' %}">← Back to Dashboard</a>
{% endblock %}
